*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Primary */

  --moderateviolet: hsl(263, 55%, 52%);
  --vdkgrayishblue: hsl(217, 19%, 35%);
  --vdkblackishblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* ### Neutral */

  --lightgray: hsl(0, 0%, 81%);
  --lightgrayishblue: hsl(210, 46%, 95%);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  /* 500, 600 weights */
  font-size: 13px;
  background: var(--lightgrayishblue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: var(--moderateviolet);
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 5% auto;
  animation: getin 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card {
  max-width: 450px;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 25px;
}

.head {
  display: flex;
  gap: 10px;
  align-items: center;
}

.head-img {
  width: 40px;
  height: 40px;
}

.head-img img {
  width: 100%;
  border-radius: 50%;
}

.profile_name {
  font-size: 1rem;
  letter-spacing: 2px;
}

.profile_name,
.profile_title,
.work_details,
.acknowledgement {
  color: var(--lightgray);
}

.jeanette .profile_name,
.kira .profile_name,
.jeanette .profile_title,
.kira .profile_title,
.jeanette .work_details,
.kira .work_details,
.jeanette .acknowledgement,
.kira .acknowledgement {
  color: var(--vdkgrayishblue);
}

.profile_title {
  opacity: 50%;
}

.work_details {
  padding: 0.5rem 0;
  opacity: 70%;
  line-height: 1.5;
}

.acknowledgement {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.daniel {
  background: var(--moderateviolet) url("./images/bg-pattern-quotation.svg")
    no-repeat top right 25%;
  grid-area: a;
}

.jonathan {
  grid-area: b;
  background: var(--vdkgrayishblue);
}

.jeanette,
.kira {
  background: var(--white);
}

.jeanette {
  grid-area: d;
}

.kira {
  grid-area: c;
}

.patrick {
  grid-area: e;
  background: var(--vdkblackishblue);
}

.daniel img {
  border: 3px solid var(--vdkgrayishblue);
}
.patrick img {
  border: 3px solid var(--moderateviolet);
}

.jonathan img {
  border: 3px solid var(--lightgrayishblue);
}
.jeanette img,
.kira img {
  border: 3px solid var(--vdkblackishblue);
}

@keyframes getin {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-width: 1000px) {
  main {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a a b c"
      "d e e c";
  }

  .card {
    max-width: 600px;
    margin: 0;
    transition: all 0.5s ease;
  }
  .card:hover {
    transform: scale(1.1);
  }

  .container {
    width: 100%;
  }
}
